@screen-xs: 460px;
@screen-sm: 960px;
@screen-md: 1200px;

.mixin-border-line(@color,@height,@topPosition,@bottomPosition) {
    position: absolute;
    display: inline-block;
    content: "";
    top: @topPosition;
    bottom: @bottomPosition;
    width: 100%;
    height: @height;
    background: @color;
  }

.mixin-screen-xs(@rules) {
  @media screen and (max-width: @screen-xs) { @rules(); }
}
.mixin-screen-sm(@rules) {
  @media screen and (max-width: @screen-sm) { @rules(); }
}
.mixin-screen-md(@rules) {
  @media screen and (max-width: @screen-md) { @rules(); }
}
.mixin-screen-lg(@rules) {
  @media screen and (min-width: @screen-md) { @rules(); }
}
