header {
    position: fixed;
    width: 100%;
    height: 58px;
    line-height: 58px;
    background-color: #3bb4f2;
}

.menu-button * {
    padding: 0;
}

.menu-button {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: inline-block;
    flex-flow: column wrap;
}

.menu-button button {
    position: relative;
    display: block;
    width: 32px;
    height: 2px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    background: currentColor;
    color: inherit;
    font-size: 0;
    transition: 0.35s;
    color: #fff;
}

.menu-button button:before,
.menu-button button:after {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background: currentColor;
    content: "";
    transition: transform 0.35s;
    color: #fff;
}

.menu-button button:before {
    transform: translate(-50%, -14px);
}

.menu-button button:after {
    transform: translate(-50%, 14px);
}

.menu-button button {
    transition: 0s;
}

.menu-button button:before,
.menu-button button:after {
    transform-origin: 50% 0%;
}

.menu-button:hover button {
    background: transparent;
}

.menu-button:hover button:before {
    animation: menuBefore 0.5s forwards;
}

.menu-button:hover button:after {
    animation: menuAfter 0.5s forwards;
}

@keyframes menuBefore {
    0% {
        transform: translate(-50%, -14px);
    }
    40% {
        transform: translate(-50%, 0);
    }
    60% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 0) rotate(45deg);
    }
}

@keyframes menuAfter {
    0% {
        transform: translate(-50%, 14px);
    }
    40% {
        transform: translate(-50%, 0);
    }
    60% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 0) rotate(-45deg);
    }
}

.menu-button:after {
    display: block;
    clear: both;
    content: "";
    position: relative;
}